<h1 class="text-3xl">Sobre la aplicación</h1>
<hr class="my-2" />

<section>
  <p class="mb-4">
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Corrupti veritatis
    soluta minima voluptatum laboriosam aspernatur sit facere, nemo sint rem
    suscipit molestiae id ab reiciendis deleniti odio quod aliquid cumque. Lorem
    ipsum dolor sit amet consectetur adipisicing elit. Hic beatae corrupti,
    suscipit neque aliquam magni consequatur obcaecati eveniet! At iste
    perferendis fugiat excepturi iure atque exercitationem fuga. Deleniti,
    corrupti assumenda.
  </p>
</section>
